{
    "extends": "airbnb",
    "rules": {
        "comma-dangle": "off",
        "func-names": "off",
        "indent": ["error", 4],
        "no-cond-assign": [
            "error",
            "except-parens"
        ],
        "no-use-before-define": [
            "error",
            {
                "functions": false
            }
        ],
        "no-unused-vars": [
            "error",
            {
                "args": "none"
            }
        ]
    }
}
