build/
licode_config.js
extras/basic_example/node_modules
extras/basic_example/public/erizo.js
extras/basic_example/public/erizo.js.map
extras/basic_example/nuve.js
node_modules/
site
.DS_Store
scripts/libdeps/
libdeps/
extras/vagrant/.vagrant
extras/vagrant/licode/
erizo_controller/erizoAgent/out.log
erizo_controller/erizoAgent/erizo-*.log
.project
.cproject
.idea
spine/erizofc.js
spine/testResult.json
extras/basic_example/public/assets/
rtp_media_config.js
erizo/FindIncludePathsGenerator.cmake
erizo/Findboost.cmake
erizo/Findbzip2.cmake
erizo/Findzlib.cmake
erizo/conan.lock
erizo/conan_paths.cmake
erizo/conanbuildinfo.args
erizo/conanbuildinfo.cmake
erizo/conanbuildinfo.txt
erizo/conaninfo.txt
erizo/graph_info.json

